<!-- Hayo Ngapain?:v -->
<!-- Credit Template By Farhan -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><xZiyy/></title>
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <audio autoplay="true" src="https://b.top4top.io/m_205791ozv1.mp3">
    </audio>
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="vendors/owl-carousel-2/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7Wk6KnE7aJHUHjpp_wBoDfkeSIOQfSGMmxg&usqp=CAU"><link rel="stylesheet" href="ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css">
    <link rel="shortcut icon" href="https://i.ibb.co/Kw5BfkH/c91084eb9d7f13257309a4079fccaa40.jpg"><link rel="stylesheet" href="ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css">
    <link rel="shortcut icon" href="https://i.ibb.co/Kw5BfkH/c91084eb9d7f13257309a4079fccaa40.jpg" type="image/x-icon" />
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <script src="ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.js"></script>
   <meta name="description" content="xZiyy - API">
   <meta property="og:image" content="https://i.ibb.co/Kw5BfkH/c91084eb9d7f13257309a4079fccaa40.jpg">
   <meta property="og:site_name" content="xZiyy Api's">
   <meta name="keywords" content="xZiyy">
   <meta name="author" content="ALDI FAUZI">
  </head>
  <body>
  <body id="page-top" onload="getvisitor();">
    <div class="container-scroller">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo rounded-circle" href="#"><img src="images/logo1.png" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="#"><img src="images/logo1.png" class="rounded-circle" alt="logo" /></a>
        </div>
       <font face="Original Surfer">
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="https://i.ibb.co/Kw5BfkH/c91084eb9d7f13257309a4079fccaa40.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">xZiyy</h5>
                  <span>I am 15 years old</span>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Docs</span>
          </li>
          <li class="nav-item menu-items">
          <a class="nav-link" href="#">
          <span class="menu-icon">
          <i class="mdi mdi-home"></i>
          </span>
          <span class="menu-title">Home</span>
          </a>
          </li>

       <li class="nav-item menu-items" id="canvas">
            
       <a class="nav-link" href="/canvas">
            
       <span class="menu-icon">
                
       <i class="bi bi-canvas"></i>
              
       </span>
             
       <span class="menu-title">canvas apis</span>
           
       </a>
          
       </li>


         <li class="nav-item nav-category">
          <span class="nav-link">sosmed</span>
          </li>
            </li>
          <li class="nav-item menu-items">
          <a class="nav-link" data-toggle="collapse" href="#ui-youtube" aria-expanded="false" aria-controls="ui-youtube">
          <span class="menu-icon">
          <i class="mdi mdi-youtube"></i>
          </span>
          <span class="menu-title">Subs YT Gw Bang:></span>
          <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-youtube">
          <ul class="nav flex-column sub-menu">
          
          <li class="nav-item"> <a class="nav-link"href="https://youtube.com/channel/UCY4bCbI53mklIsYNVivXeiw">Youtube xZiyy</a></li>
          </ul>
          </div>
          </li>
          </li>
          </li>
          <li class="nav-item nav-category">
          <span class="nav-link">Contact Me</span>
          </li>
         <li class="nav-item menu-items">
            <a class="nav-link" href="https://wa.me/6285697725326">
              <span class="menu-icon">
                <i class="mdi mdi-whatsapp"></i>
              </span>
              <span class="menu-title">WhatsApp</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="https://instagram.com/zuxyganz_">
              <span class="menu-icon">
                <i class="mdi mdi-instagram"></i>
              </span>
              <span class="menu-title">Instagram</span>
            </a>
          </li>
           <li class="nav-item menu-items">
            <a class="nav-link" href="http://wa.me/16143824872">
              <span class="menu-icon">
                <i class="mdi mdi-console-line"></i>
              </span>
              <span class="menu-title">Bot Whatsapp</span>
            </a>
          </li>
        </ul>
       </font>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><big><i class="mdi mdi-biohazard text-primary"></i></big></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex ">
                  <input type="text" class="form-control" placeholder="xZiyy~APIs">
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item nav-settings d-none d-lg-block">
                <a class="nav-link" href="#">
                  <i class="mdi mdi-view-grid"></i>
                </a>
              </li>
              <li class="nav-item dropdown border-left">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                  <i class="mdi mdi-bell"></i>
                  <span class="count bg-danger"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <h6 class="p-3 mb-0">Info New Update</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-calendar text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Rab, 15 September 2021</p>
                      <p class="text-muted ellipsis mb-1">Lahir nya Api ini</p>
                    </div>
                  </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="https://i.ibb.co/Kw5BfkH/c91084eb9d7f13257309a4079fccaa40.jpg" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">ALDI FAUZI</p>
                  </div>
                </a>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h5 class="font-weight-bold text-muted text-uppercase">Note</h5>
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3>Apikey :xZiyy</h3>
                         </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-key icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <font face="Original Surfer" class="text-muted font-weight-normal">Api Gw lagi eror Gw lagi Nge Fix

Jadi minggu ini Rest Api Bakalan Di tutup:v</font>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h5 class="font-weight-bold text-white text-uppercase">Info</h5>
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3>Apikey free for you
                         </h3>
                         </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-emoji icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <font face="Original Surfer" class="text-muted font-weight-normal">jika ada kesalahan
                          atow eror chat gw oke.
                    </font>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h5 class="font-weight-bold text-danger text-uppercase">IP Address</h5>
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0" id="ip">Waiting...</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-access-point-network icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <font face="Original Surfer" class="text-muted font-weight-normal">Your IP Address</font>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h5 class="font-weight-bold text-success text-uppercase">viewer</h5>
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0" id="visits">Waiting...</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-eye icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <font face="Original Surfer" class="text-muted font-weight-normal">viewer Web</font>
                  </div>
                </div>
              </div>
            <form action="/api/cekapikey">
              <div class="card card-round mt-5 stretch-card grid-margin">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h4 class="m-0 font-weight-bold text-warning"><i <h4>CEK APIKEY</h4>
                </div>
               <div class="card-body">
                 <p class="status" style="font-size: 17px;"></p>
                   <div class="form-group">
                     <input class="form-control font-weight-bold text-center" type="text" placeholder="Masukkan Apikey" name="apikey" required>
                   </div>
                   <div class="form-group"><center>
                     <button type="submit" class="btn btn-primary content-justify-center"><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i> <span class="font-weight-bold"> Submit</span></button></center>
                   </div>
               </div>
             </div>
            </form>
<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-gw-3+1f-3d+2z" data-ad-client="ca-pub-5404310597803049" data-ad-slot="6657550061"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>


              <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
             <div class="card-body">
              </div>
                </div>
              </div>
            </div>
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <div class="bg-dark btn btn-block btn-outline-danger">
                <font face="Original Surfer" class="text-muted d-block text-center text-sm-left d-sm-inline-block"> Copyright By ALDI FAUZI </font>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script>
      swal({
        title: 'Welcome To Website x-Ziyy Api',
        text: 'Dont bully me mastah',
        imageUrl: 'https://i.ibb.co/Kw5BfkH/c91084eb9d7f13257309a4079fccaa40.jpg',
        imageWidth: 200,
        imageHeight: 200,
        imageAlt: 'succes',
        animation: true
      })
    </script>
			<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>   
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <script src="vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/misc.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/todolist.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/ojan.js"></script>
  </html>
